<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ headerText }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h1>Name your shop</h1>
        <p>Choose a memorable name that reflects you style.</p>
        <ion-card>
          <ion-item>
            <ion-label position="floating">Kitchen Name</ion-label>
            <ion-input [formControl]="kitchNameFormControl"></ion-input>
          </ion-item>
          <ion-button
            (click)="checkAvailability()"
            expand="block"
            fill="outline"
          >
            Check Availability
          </ion-button>
          <p>
            Your kitchen name will appear in your kitchen and next to each of
            your listings throughout rKitchen. After you open your kitchen, you
            can change your name once.
            <a href="#">Here are some tips for picking a shop name</a>
          </p>
          <ion-button
            (click)="createKitchen()"
            expand="block"
            fill="clear"
            shape="round"
          >
            Create kitchen
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
