<ion-header>
  <ion-toolbar>
    <ion-title>me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="#">
      <ion-label>
        <h1>Watching</h1>
      </ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>
        <h1>Saved</h1>
      </ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Buy again</h1></ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Purchases</h1></ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Bids and offers</h1></ion-label>
    </ion-item>
    <ion-item href="selling">
      <ion-label><h1>Selling</h1></ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Payments</h1></ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Help</h1></ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Recently viewed</h1></ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label><h1>Collection</h1></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
