<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h1>Create a password</h1>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [formControl]="password"></ion-input>
        </ion-item>
        <p>
          At least 6 characters, at least 1 number or symbol, and at least 1
          letter
        </p>
        <p>
          By creating an account, you agree to our User Agreement and
          acknowledge reading our User Privacy Notice.
        </p>
        <ion-button
          (click)="openUserAgreement()"
          expand="block"
          fill="outline"
          shape="round"
        >
          User Agreement
        </ion-button>
        <ion-button
          (click)="openPrivacyNotice()"
          expand="block"
          fill="outline"
          shape="round"
        >
          User Privacy Notice
        </ion-button>
        <ion-button
          (click)="createAccount()"
          expand="block"
          fill="solid"
          shape="round"
        >
          Create account
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
